ul.adminPanelIndex {
    padding: 10px 0 10px 60px;
	font-size: 12pt;
    font-weight: bold;
}
ul.adminPanelIndex li {

}
ul.adminPanelIndex a {
	color: #0063dc;
}
ul.adminPanelIndex a:hover {color: #d54e21; text-decoration: underline;}
ul.adminPanelIndex a.current {color: #d54e21; font-weight: bolder;}
