/**
 *  user-aboutme
 */
#user-aboutme {
    padding: 10px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: #c6d9e9 2px solid;
	line-height: 160%; 
}
#user-aboutme {
    padding: 10px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: #c6d9e9 2px solid;
	line-height: 160%; 
}

#user-aboutme .myintro {line-height: 200%;}

