/**
 *  node-layout
 */
#node-leftbox {clear: left; float: left; width: 700px;}
#node-rightbox {clear: right; float: right; width: 240px;}

/**
 * Common style
 */
.nodeMainBorder {
    padding: 10px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: #c6d9e9 2px solid;
	line-height: 160%;
}

/**
 *  nodeRightBar
 */
div .nodeRightBar {margin-top:10px;}
div .nodeRightBar h4 {
    text-align: right; font-size: 120%; color: #0063dc; font-weight: bold; 
    border-bottom: #c6d9e9 2px solid;
}
div .nodeRightBar p {padding: 2px 0 6px 25px;}
div .nodeRightBar ul {padding: 10px 20px 10px 0px;}
div .nodeRightBar li {list-style-type: none;}
div .nodeRightBar li img {margin-right: 10px;}
div .nodeRightBar li .info {color: #004a9c;}

/**
 *  node-list
 */
div .node-list {clear: both; padding-top: 30px; }
div .node-list .nodeinfo {clear: left; }
div .node-list .userinfo {float: right; padding: 1px; border: #c6d9e9 1px solid;}
div .node-list .hinfo {border-left: #0063dc 2px solid; padding-left: 10px;}
div .node-list .binfo {padding: 2px; text-align: right; border-bottom: #c6d9e9 2px solid;}
div .node-list h3 a {font-size: 120%; font-weight: bold; color: #0063dc;}

/**
 *  node archives
 */
div .nodeArchives {clear: both; padding-top: 30px; }
div .nodeArchives h3 a {font-size: 120%; font-weight: bold; color: #0063dc;}
div .nodeArchives .hinfo {border-left: #0063dc 2px solid; padding-left: 10px;}
div .nodeArchives .binfo {padding: 2px; text-align: right; border-bottom: #c6d9e9 2px solid;}
div .nodeArchives p {padding:10px;}

/**
 *  node-term-list
 */
#node-term-list {
    padding: 10px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: #c6d9e9 2px solid;
	line-height: 200%; 
}
#node-term-list p {padding:10px;}
#node-term-list .term0 {font-size: 100%; font-weight: 400;}
#node-term-list .term1 {font-size: 120%; font-weight: 500;}
#node-term-list .term2 {font-size: 160%; font-weight: 550;}
#node-term-list .term3 {font-size: 180%; font-weight: 600;}
#node-term-list .term4 {font-size: 200%; font-weight: 650;}
#node-term-list .term5 {font-size: 220%; font-weight: 700;}
#node-term-list .term6 {font-size: 240%; font-weight: 750;}
#node-term-list .term7 {font-size: 260%; font-weight: 800;}
#node-term-list .term8 {font-size: 280%; font-weight: 850;}
#node-term-list .term9 {font-size: 300%; font-weight: 900;}

/**
 *  node-view
 */
#node-view {
    padding: 10px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: #c6d9e9 2px solid;
}
#node-view .node-header {
    line-height: 200%;
}
#node-view .node-title {
    padding: 10px 0px 10px 0px;
}
#node-view .node-info {
    padding: 4px;
    border-top: #c6d9e9 1px solid;
    border-bottom: #c6d9e9 1px solid;
    background-color: #f8f8f8;
}
.nodeEntry {padding:10px; line-height:180%;}
.nodeEntry p {padding:10px 0px;}
.nodeEntry a {color:#d54e21; font-weight:bolder; text-decoration:underline;}
.nodeEntry a:hover {color:#555555; background-color: #eeeeee;}


/**
 *  node-comment-list
 */
#node-comment-list {
    margin: 20px 0px 20px 0px; padding: 10px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: #83d13d 1px solid;
	color: green;
}
#node-comment-list .node-comment-view {
    margin: 10px 0 20px 0;
    border-top: #83d13d 1px solid;
    width: 100%;
}
#node-comment-list p {padding: 4px 10px 4px 30px;}
#node-comment-list .nodeCommentInfo {
    clear: both; float: right;
}

/**
 *  node-comment-submit
 */
#node-comment-submit {
    margin: 20px 0px 20px 0px; padding: 10px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: #d54e21 1px solid;
	color: #d54e21;
}
#node-comment-submit .node-comment-htitle {
    border-bottom: #d54e21 1px solid;
}
